<div class='fild_to_add_comment'>

  <div class='autor_com bottom_marg'>
    <% if comment.user.nil? %>
        <span class='del'>Deleted user</span> says:
    <% elsif comment.user.roles.first.name == "user" %>
        <%= link_to comment.user.name, servant_path(comment.user.id) %> says:
    <% elsif comment.user.roles.first.name == "admin" %>    
        <%= comment.user.name %> says:
    <% end %>
  </div>
    
  <div class='time_com'>
    <%= comment.created_at.strftime('%e %B %Y, %H:%M') %>
  </div>    
  <div class='clear'></div>


  <div>
    <% if comment.user.nil? %>
      <%= image_tag("avatars/noneavatars.png") %>
    <% elsif comment.user.roles.first.name == "user" %>
      <%= link_to image_tag(avatar_url(comment.user)), servant_path(comment.user.id) %>
    <% elsif comment.user.roles.first.name == "admin" %> 
      <%= image_tag("avatars/admin.png") %>
    <% end %>
  </div>

  <div class='comment_body'>
    <%= comment.body %>
  </div>  

  <% if ( current_user && current_user.id == comment.user_id ) or ( current_user && current_user.roles.first.name == "admin") %> 
  	<%= link_to 'Delete', [comment.post, comment], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-mini del_com' %>
  <% end %>

<div class='clear'></div>
</div>

<div class='clear'></div>