<div class='fild_to_add_comment'>

  <div class='autor_com bottom_marg'>
  	<% if comment.user.present? %>
      <%= link_to comment.user.name, servant_path(comment.user.id) %> says:
  	<% elsif comment.admin_id.present? %>
  		<%= comment.admin.name %> says:
  	<% else %>	
  		<span class='del'>Deleted user</span> says:
  	<% end %>
  </div>
    
  <div class='time_com'>
    <%= comment.created_at.strftime('%e %B %Y, %H:%M') %>
  </div>    
  <div class='clear'></div>


  <div>
    <% if comment.user.nil? %>
        <% if comment.admin.nil? %>
          <td><%= image_tag("avatars/noneavatars.png") %></td>
        <% else %>
          <td><%= image_tag("avatars/admin.png") %></td>
        <% end %>
    <% else %>
          <td><%= link_to image_tag(avatar_url(comment.user)), servant_path(comment.user.id) %></td>
    <% end %>
  </div>

  <div class='comment_body'>
    <%= comment.body %>
  </div>  

  <% if ( current_user && current_user.id == comment.user_id ) or current_admin %> 
  	<%= link_to 'Delete', [comment.post, comment], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-mini del_com' %>
  <% end %>
<div class='clear'></div>
</div>

<div class='clear'></div>