<div class='form_comment'>
	<blockquote><h2>Add a comment:</h2></blockquote>
	<div class = 'fild_to_add_comment'>
    	<div class='bottom_marg'>
    	    <% if current_user.roles.first.name == "user" %>
    	      <%= link_to current_user.name, servant_path(current_user.id) %>:
    	    <% else %>    
    	      <%= current_user.name %>:
    	    <% end %>
    	</div> 	


	<% if current_user.roles.first.name == "user" %>
   		<%= image_tag avatar_url(current_user) %>
	<% elsif current_user.roles.first.name == "admin" %> 
   		<%= image_tag("avatars/admin.png") %>
  <% end %>



		<%= form_for([@post, @post.comments.build], remote: true) do |f| %>
		    <%= f.text_area :body, :class => 'field_to_add', :placeholder => "Add some comment with ajax"  %>
		    <%= f.submit "Create", :class => 'btn btn-success add_btn_for_com'  %>
		<% end %>
	</div>
</div>