<% title @servant.name %>

<blockquote><h3>Show</h3></blockquote>
  <% if ( current_user && current_user.id == @servant.id ) %>
    <%= link_to "Edit profile", edit_user_registration_path, :class => 'btn btn-warning new_post' %>
  <% end %>
  <!-- <div class = 'new_post'><%= link_to(image_tag(avatar_url(@servant)), 'https://ru.gravatar.com/' ) %></div> -->
  <div class = 'new_post'><%= image_tag(avatar_url(@servant)) %></div>
  <!-- <blockquote><i>click to your avatar to change it</i></blockquote> -->

    <dl class="dl-horizontal">
      <dt>User name: </dt>
      <dd><%= @servant.name %></dd>
      <dt>Email: </dt>
      <dd><%= @servant.email %></dd>
      <dt>Last sign in at: </dt>
      <dd><%= @servant.last_sign_in_at.strftime('%b %d, %H:%M') %></dd>
      <dt>Registerd at:</dt>
      <dd><%= @servant.created_at.strftime("%d/%m/%Y") %></dd>
      <dt>Country: </dt>
      <dd>
        <% if @servant.country.nil? %>
         unknown
        <% else %>
         <%= @servant.country.name %>
        <% end %>
      </dd>
      <dt>City: </dt>
      <dd>
        <% if @servant.state.nil? %>
         unknown
        <% else %>
         <%= @servant.state.name %>
        <% end %>
      </dd>
    </dl>

<div id='sixhan'>
<blockquote><h3>Posts created by <%= @servant.name %>:</h3></blockquote>
<table class="table table-striped table-bordered margining">
  <tr>
    <th>Title of post</th>
    <th>Text of post</th>
    <th>Date</th>
    <th>Acions</th>
  </tr>
    <% @postsofservant.each do |post| %>
      <tr>
            <td><%= post.title %></td>
            <td><%= post.text.truncate(200, :separator => ' ') %></td>
            <td><%= post.updated_at.strftime("%d/%M/%Y") %></td>
            <td><%= link_to "show", post_path(post.id), :class => 'btn btn-info btn-mini btn_size' %> </td>
      </tr>
    <% end %>
</table>
</div>
