<h1>This is index page</h1>
<%= link_to 'All posts', posts_path %>
<br />
<br />
<% if ( current_user or current_admin ) %>
<% else %>
	<%= form_for("user", :url => user_session_path) do |f| %>
	  Email: <br /><%= f.text_field :email %><br />
	  Password:<br /><%= f.password_field :password %> <br />
	  <%= f.submit 'Sign in' %>
	<% end %>
<% end %>

<br />
<br />
<br />
<h4>
	admin@gmail.com <br>
	dracon779@gmail.com <br>
	vasinvaleriy779@gmail.com
</h4>