  <div>  
    <div>Title:</div>
    <%= f.text_field :title %>
  </div>
  <div>
  <div>Text:</div>
    <%= f.text_area :text %>
  </div>

<% Category.all.each do |category| %>
  <%= check_box_tag 'post[category_ids][]', category.id %>
  <%= category.name %>
  <br />
<% end %>
<div id='error_for_check_box'></div>

<br />

<p>
  <%= f.file_field :image %>
</p>


<%= f.submit %>