<table>
    <% @posts.each do |post| %>
      <tr>
          <% if post.user.nil? %>
              <% if post.admin.nil? %>
                <td><%= image_tag("avatars/noneavatars.png") %></td>
              <% else %>
                <td><%= image_tag("avatars/admin.png") %></td>
              <% end %>
          <% else %>
                <td><%= link_to image_tag(avatar_url(post.user)), servant_path(post.user.id) %></td>
          <% end %>



        <td><%= link_to post.title, post_path(post.id) %></td>



        <td><%= post.text.truncate(200, :separator => ' ') %></td>



          <% if post.user.nil? %>
              <% if post.admin.nil? %>
                <td> deleted user</td>
              <% else %>
                <td> <%= post.admin.name %></td>
              <% end %>
          <% else %>
              <td> <%= link_to post.user.name, servant_path(post.user.id) %></td>
          <% end %>



          
        <td><%= post.created_at.strftime('%d.%M.%Y %H:%M') %></td>
        <td><%= post.comments.count %></td>
        <td>
          <% post.categories.each do |cat| %>
            <%= link_to cat.name, posts_path(:cat=>cat.id) %>
          <% end %>
        </td>
        <td><%= link_to 'Show', post_path(post.id) %></td>
        <% if ( current_user && current_user.id == post.user_id ) or current_admin %> 
            <td><%= link_to 'Edit', edit_post_path(post.id) %></td>
            <td><%= link_to 'Destroy', post_path(post.id), :method => :delete, :confirm => 'Are you sure?' %></td>
        <% end %>
    <% end %>
</table>