<% @posts.each do |post| %>
  <div class='box_of_post'>
    <div class='id_of_post'># <%= post.id %></div>
    <div class='time_pablised'>Published at: <%= post.created_at.strftime('%e %B %Y, %H:%M') %></div>
    <div class='title_box'><h4><%= link_to post.title, post_path(post.id) %></h4></div>
    <div class='body_box'>
      <% if post.image? %>
        <%= image_tag(post.image_url(:main), :alt => "some", :id => 'main_image')  %>
      <% else %>
        <%= image_tag('avatars/default_img.png', :alt => "no_image", :class => 'main_image')  %> 
      <% end %>  
      <span>
        <%= post.text.truncate(200, :separator => ' ') %>
      </span>
    </div>
    <div class='clear'></div>

    <div class='autor'>
      <span>Опубликовал:</span>
        <% if post.user.nil? %>
            <span class='del'>Deleted</span>
        <% elsif post.user.roles.first.name == "user" %>
            <%= link_to post.user.name, servant_path(post.user.id) %>
        <% elsif post.user.roles.first.name == "admin" %>    
            <%= post.user.name %>
        <% end %>
    </div>

    <div class='tags'>
      <% post.categories.each do |cat| %>
        <i class="icon-tag"></i>
        <%= link_to cat.name, posts_path(:cat=>cat.id) %>
      <% end %>
    </div>

    <div class='clear'></div>
    <div class='controls_area'>
      <span class='count_comments'>( <%= pluralize(post.comments.count, ") comment") %></span>
      <%= link_to 'Show', post_path(post.id) , :class => 'btn btn-primary admin_area_btn'%>
      
      <% if can? :update, post %> 
        <%= link_to 'Edit', edit_post_path(post.id), :class => 'btn btn-primary admin_area_btn' %>
      <% end %>
      <% if can? :destroy, post %>  
        <%= link_to 'Destroy', post_path(post.id), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger admin_area_btn' %>
      <% end %>

      <% if post.user.nil? %>
        <div class='position_for_starz'>
          <div class="raiting_index">
            <div class="raiting_blank_index"></div>
          </div>
        </div>
      <% else %>
        <div class='position_for_starz'>
            <div class='hidden_rank_index'>
              <%= number_with_precision(post.vote.score.to_f/post.vote.count_users) %>
            </div>
            
            <div class="raiting_index">
              <div class="raiting_blank_index"></div>
              <div class="raiting_votes_index"></div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>