<% title "All posts" %>
<blockquote><h2>List of posts</h2></blockquote>

<%= form_tag posts_path, :method => 'get', :class => 'form-search' do %>
  <div class="input-append">
    <%= text_field_tag :query, params[:query], :class => "span2 search-query", :placeholder => "Posts only" %>
    <%= button_tag "Search", :name => nil, :class => 'btn' %>
  </div>
<% end %>

<% if ( user_signed_in? or admin_signed_in? )%>  
  <%= link_to 'Create new post', new_post_path, :class => 'btn btn-large btn-primary new_post' %>  
<% end %>  

<div class='paginator'>
  <%= paginate @posts, :window => 3, :remote => true %>
</div>

<div id='all_posts_box'>
  <%= render 'tablenew' %>
</div>

<div class='paginator'>
  <%= paginate @posts, :window => 3, :remote => true %>
</div>
