<h1>Listing Posts</h1>


<%= form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



<div id='table_of_posts'>
  <%= render 'table' %>
</div>
  
<div id='paginator'>
  <%= paginate @posts, :window => 3, :remote => true %>
</div>

<br />
<br />
<br />
<% if ( user_signed_in? or admin_signed_in? )%>  
  <%= link_to 'Create new post', new_post_path %>  
<% end %>  


