<% title @post.title %>
<p>
<% if @post.image? %>
  <%= image_tag(@post.image_url(:thumb), :alt => "some", :id => 'main_image')  %>
<% else %>
  <%= image_tag('avatars/no_image_yet.jpg', :alt => "no_image", :id => 'main_image')  %>
<% end %>
  <%= @post.text %>

</p>

<p>
  <strong>Avatar!:</strong>
  <% if @post.user.nil? %>
      <% if @post.admin.nil? %>
        <td><%= image_tag("avatars/noneavatars.png") %></td>
      <% else %>
        <td><%= image_tag("avatars/admin.png") %></td>
      <% end %>
  <% else %>
        <td><%= image_tag avatar_url(@post.user) %></td>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Autor:</strong>
	<% if @post.user.nil? %>
		<% if @post.admin.nil? %>
			deleted user
		<% else %>
			<%= @post.admin.name %>
		<% end %>
	<% else %>
		<%= @post.user.name %>
	<% end %>
</p>

<p>
  <strong>Categories:</strong>
  <% @post.categories.each do |cat| %>
    <%= link_to cat.name, posts_path(:cat=>cat.id) %>
  <% end %>
</p>

<hr>

	<div id='all_comments'>
		<%= render @post.comments %>
 	</div>

<% if ( user_signed_in? or admin_signed_in? )  %> 
	<h2>Add a comment:</h2>
	<%= render "comments/form" %>
<% end %>

<%= link_to "back to all", posts_path %> 


<% if ( current_user && current_user.id == @post.user_id ) or current_admin %> 
	<%= link_to 'Edit', edit_post_path %> 
  <%= link_to 'Destroy Post', post_path(@post.id), :method => :delete, :confirm => 'Are you sure?' %>
<% end %>