<% title @post.title %>
<div id = 'box_of_post_show'>
  
  <% if @post.image? %>
    <%= image_tag(@post.image_url(:thumb), :alt => "some", :id => 'main_image')  %>
  <% else %>
    <%= image_tag('avatars/no_image_yet.jpg', :alt => "no_image", :id => 'main_image')  %>
  <% end %>



<div class ='title_of_post_show'>
  <%= @post.title %>
</div>
 
<div class ='text_of_post_show'>
  <%= @post.text %>
</div>

<div class='autor'>
  <strong>Autor:</strong>
	<% if @post.user.nil? %>
		<% if @post.admin.nil? %>
			deleted user
		<% else %>
			<%= @post.admin.name %>
		<% end %>
	<% else %>
		<%= link_to @post.user.name, servant_path(@post.user.id) %>
	<% end %>
</div>

<div class='tags'>
  <strong>Categories:</strong>
  <% @post.categories.each do |cat| %>
    <%= link_to cat.name, posts_path(:cat=>cat.id) %>
  <% end %>
</div>
<div class='clear'></div>

<span class='avatar_of_post_user'>
  <% if @post.user.nil? %>
      <% if @post.admin.nil? %>
        <td><%= image_tag("avatars/noneavatars.png") %></td>
      <% else %>
        <td><%= image_tag("avatars/admin.png") %></td>
      <% end %>
  <% else %>
        <td><%= image_tag avatar_url(@post.user) %></td>
  <% end %>
</span>
<hr>

<div id='all_comments'>
	<%= render @post.comments %>
</div>

<div class='clear'></div>

<% if ( user_signed_in? or admin_signed_in? )  %> 
	<%= render "comments/form" %>
<% end %>


  <div class='controls_area'>
    <%= link_to "back to all", posts_path, :class => 'btn btn-primary admin_area_btn' %> 
    <% if ( current_user && current_user.id == @post.user_id ) or current_admin %> 
    	<%= link_to 'Edit', edit_post_path, :class => 'btn btn-primary admin_area_btn' %> 
      <%= link_to 'Destroy Post', post_path(@post.id), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger admin_area_btn' %>
    <% end %>
  </div>

</div>