<% title @post.title %>
<div id = 'box_of_post_show'>
  <% if @post.image? %>
    <%= image_tag(@post.image_url(:thumb), :alt => "some", :id => 'main_image')  %>
  <% else %>
    <%= image_tag('avatars/no_image_yet.jpg', :alt => "no_image", :id => 'main_image')  %>
  <% end %>



<div class ='title_of_post_show'>
  <%= @post.title %>
</div>
 
<div class ='text_of_post_show'>
  <%= @post.text %>
</div>

<div class='autor'>
  <strong>Autor:</strong>
    <% if @post.user.nil? %>
        <span class='del'>Deleted user</span>
    <% elsif @post.user.roles.first.name == "user" %>
        <%= link_to @post.user.name, servant_path(@post.user.id) %>
    <% elsif @post.user.roles.first.name == "admin" %>    
        <%= @post.user.name %>
    <% end %>
</div>

<div class='tags'>
  <strong>Categories:</strong>
  <% @post.categories.each do |cat| %>
    <%= link_to cat.name, posts_path(:cat=>cat.id) %>
  <% end %>
</div>
<div class='clear'></div>

<span class='avatar_of_post_user'>
  <% if @post.user.nil? %>
      <%= image_tag("avatars/noneavatars.png") %>
  <% elsif @post.user.roles.first.name == "user" %>
      <%= image_tag avatar_url(@post.user) %>
  <% elsif @post.user.roles.first.name == "admin" %> 
      <%= image_tag("avatars/admin.png") %>
  <% end %>
</span>
<div class='time_pablised'>Published at: <%= @post.created_at.strftime('%e %B %Y, %H:%M') %></div>


      <% if @post.user.nil? %>
        <div class="raiting in_center">
          <div class="raiting_blank"></div>
        </div>
      <% else %>
        <div class='hidden_rank'>
          <%= number_with_precision(@post.vote.score.to_f/@post.vote.count_users) %>
        </div>

        <div class="raiting in_center pointer_for_star">
          <div class="raiting_blank"></div>
          <div class="raiting_hover"></div>
          <div class="raiting_votes"></div>
        </div>
        <%= render 'vote/update' %>
      <% end %>

<hr>

<div id='all_comments'>
	<%= render @post.comments %>
</div>

<div class='clear'></div>

<% if user_signed_in?  %> 
	<%= render "comments/form" %>
<% end %>


  <div class='controls_area'>
    <%= link_to "back to all", posts_path, :class => 'btn btn-primary admin_area_btn' %> 
    <% if ( current_user && current_user.id == @post.user_id ) or ( current_user && current_user.roles.first.name == "admin") %>
    	<%= link_to 'Edit', edit_post_path, :class => 'btn btn-primary admin_area_btn' %> 
      <%= link_to 'Destroy Post', post_path(@post.id), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger admin_area_btn' %>
    <% end %>
  </div>

</div>